<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Trever</title>

<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,700,500,100italic,200,200italic,300italic,300,400italic,500italic,600,600italic,900italic,900,800italic,700italic,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="static/normalize.css">
	<link rel="stylesheet" href="static/skeleton.css">
	<link rel="stylesheet" href="static/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="static/script.js"></script>
</head>
<body>

<!--
Nav
 -->

		<nav>
			<a href="#Home">Home</a>
			<a href="#Background">Background</a>
			<a href="#Skills">Skills</a>
			<a href="#Experience">Experience</a>
			<a href="#Education">Education</a>
			<a href="#Projects">Projects</a>
			<a href="#Contact">Contact</a>
		</nav>

<!--
Front Page
-->

	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<h2>Hello, I'm Trever</h2>
			</div>
		</div>
	</div>

	<br><br><br>

	<div class="container">
	<a name="Home"></a>
		<div class="row">
			<div class="four columns center">
				<img class="cover-icon" src="static/notebook.png" alt="notebook"><br><br>
				<p>Student</p>
			</div>
			<div class="four columns center">
				<img class="cover-image" src="static/me.png">
			</div>
			<div class="four columns center">
				<img class="cover-icon" src="static/computer.png" alt="technology"><br><br>
				<p>Developer</p>
			</div>
		</div>
	</div>


	<br><br><br><br>

<!--
About Me
 -->

	<div class="container">
		<hr>
		<h5>Get to Know Me</h5>
		<p>Basic information and a copy of my resume</p>
		<div class="row">

			<div class="six columns">
			<a name="Background"></a>
				<br>
				<label>Background</label>
				<p>I am an incoming junior in the University of Michigan's College of Engineering.
				I am pursuing a major in computer science and a minor in mathematics.
				I love to ride motorcycles, play ultimate frisby, and watch sports (especially football and motocross).
				If you're excited about Michigan football this year, enjoy this!</p>

				<blockquote class="twitter-video" data-lang="en">&mdash; Michigan Football (@umichfootball)
				<a href="https://twitter.com/umichfootball/status/713337680021422080">March 25, 2016</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>


			<div class="six columns">
			<a name="Skills"></a>
				<br>
				<label>Skills</label>
				Programming Languages:
				<ul><li>C++, Java, Python, JavaScript, jQuery</li>
				<li>NodeJS, AngularJS, PHP</li>
				<li>SQL, DCL, HTML 5, CSS 3, MATLAB</li></ul>

				Frameworks & IDEs:
				<ul><li>VIM, Eclipse, Android Studio, Sublime Text, Atom</li>
				<li>Google App Engine, Wordpress</li>
				<li>Jinja2, Pug (Jade), AngularJS, ExpressJS</li></ul>

				Operating Systems:
				<ul><li>OS X, Linux</li></ul>

				Other:
				<ul><li>Git, Valgrind, Gprof</li>
				<li>Microsoft Office</li></ul>

			</div>
		</div>


		<div class="row">

			<div class="six columns">
			<a name="Experience"></a>
				<br>
				<label>Experience</label>

				Software Engineering Intern @
				<a href="https://www.xactlycorp.com/" target="_blank">Xactly Corp</a>
				<br><i>May 2016 - Present</i>
				<ul><li>Xactly Connect development team</li>
				<li>Testing and enhancing ODBC driver</li>
				<li>Increased product unit test coverage by over 10%</li></ul>

				Web Developer @
				<a href="http://caen.engin.umich.edu/" target="_blank">UMich CAEN</a>
				<br><i>Feb 2016 - Apr 2016</i>
				<ul><li>Used python and selenium to automate site testing</li></ul>

				Android Developer @
				<a href="https://mpowered.umich.edu/" target="_blank">MPowered Entrepreneurship</a>
				<br><i>Oct 2015 - Apr 2016</i>
				<ul><li>Gained exposure to android development in a team setting</li></ul>

				Parts and Sales Representative @
				<a href="http://www.bigvalleyhonda.com/" target="_blank">Big Valley Honda</a>
				<br><i>Jun 2015 - Dec 2015</i><br>

				Club Assistant @
				<a href="http://www.renotennisclub.com/" target="_blank">Reno Tennis Club</a>
				<br><i>Apr 2011 - Oct 2012</i>
			</div>

			<div class="six columns">
			<a name="Education"></a>
				<br>
				<label>Education</label>

				Schools:
				<ul>
					<li>Computer Science BSE in Progress @
					<a href="http://www.engin.umich.edu/college/" target="_blank">University of Michigan College of Engineering</a></li>

					<ul><li>GPA 3.6/4.0</li>
					<li>Dean's List &amp; University Honors - Fall 2014, Winter 2015 &amp; 2016</li></ul>

					<li>Study Abroad @
					<a href="http://www.ust.hk/" target="_blank">Hong Kong University of Science and Technology</a></li>
					<li>Honors Diploma @
					<a href="http://www.galenahigh.com/" target="_blank">Galena High School</a></li>
				</ul>

				Pertinent Classes:
				<ul>
					<li>EECS 281 - Data Structures and Algorithms</li>
					<li>EECS 280 - Programming and Introductory Data Structures</li>
					<li>EECS 203 - Discrete Mathematics</li>
					<li>SI 206 - Agile Web Development</li>
					<li>Math 115 / 116 / 215 - Calculus 1,2,3</li>
					<li>Math 214 - Linear Algebra</li>
					<li>STATS 250 - Introduction to Statistics and Data Analysis</li>
				</ul>
			</div>
		</div>

		<br>
		<div class="center">
			<a class="button button-primary" href="static/resume.pdf">Resume</a>
		</div>
	</div>

<!--
Projects
 -->

	<div class="container">
		<a name="Projects"></a>
		<hr>
		<h5 class="right">Projects</h5>
		<p class="right">View one of my personal projects</p>
		<br>

		<div class="row">
			<div class="three columns center">
				<label>Tasqer</label>
				Task Management Software<br><br>
				<a class="button button-primary" target="_blank"
				href="https://tasqer.herokuapp.com/">View</a>
			</div>
			<div class="three columns center">
				<label>Threadex</label>
				Social Media Site<br><br>
				<a class="button button-primary" target="_blank"
				href="http://threadex.herokuapp.com/">View</a>
			</div>
			<div class="three columns center">
				<label>Homework Manager</label>
				Simple Web App<br><br>
				<a class="button button-primary" target="_blank"
				href="http://homework-1205.appspot.com/">View</a>
			</div>
			<div class="three columns center">
				<label>Fetal Imaging Center</label>
				Simple Prototype Site<br><br>
				<a class="button button-primary" target="_blank"
				href="http://htmlpreview.github.io/?https://github.com/TreverCullen/Fetal_Imaging_Center/blob/master/fetalimaging.html">View</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="three columns center">
				<p style="visibility: hidden">.</p>
			</div>
			<div class="three columns center">
				<label>MPowered Entrep.</label>
				Android App<br><br>
				<a class="button button-primary" target="_blank"
				href="https://play.google.com/store/apps/details?id=edu.umich.mpowered.mpowered&hl=en">View</a>
			</div>
			<div class="three columns center">
				<label>Project Volt</label>
				Technical Writing Piece<br><br>
				<a class="button button-primary" target="_blank"
				href="https://www.dropbox.com/s/0a1aywtotvvsmd3/ENGR100%20Final%20Project.pdf?dl=0">View</a>
			</div>
		</div>
	</div>


<!--
Email Form
 -->

	<div class="container">
		<a name="Contact"></a>
		<hr>
		<h5>Get in Touch</h5>
		<p>Send me an email or look below to find me on social media</p>
		<br>
		<p class="center" id="red">{{ message }}</p>
		<form action="/" method="post">
	  		<div class="row">
	    		<div class="six columns">
	      			<label for="name">Your Name</label>
	      			<input class="u-full-width" id="name" name="name" type="text" placeholder="John Doe">
	    		</div>
	    		<div class="six columns">
	     			<label for="email">Your Email</label>
	     			<input class="u-full-width" id="email" name="email" type="email" placeholder="john@example.com">
	    		</div>
	  		</div>
	  			<label for="message">Message</label>
	  			<textarea class="u-full-width" id="message" name="message" placeholder="Hello Trever..."></textarea>
	  		</label>

			<br><br>

	  		<div class="center">
	  			<input class="button-primary" type="submit" value="Submit">
	  		</div>
		</form>
	</div>


	<div class="container">
		<hr>
		<footer>
			<div class="row">
				<div class="four columns">
					<p>Trever Cullen<br>
					(775) 544 - 0666<br>
					trevercullen@gmail.com</p>
				</div>
				<div class="one columns center">
					<a href="https://www.linkedin.com/in/trever-cullen-19914b60" target="_blank">LinkedIn</a>
				</div>
				<div class="one columns center">
					<a href="https://github.com/TreverCullen" target="_blank">Github</a>
				</div>
				<div class="one columns center">
					<a href="https://www.facebook.com/trever.cullen" target="_blank">Facebook</a>
				</div>
				<div class="one columns center">
					<a href="https://plus.google.com/u/0/109964514818470557598" target="_blank">Google+</a>
				</div>
				<div class="four columns right">
					<p>Powered by<br>
					Pop.co, Skeleton,<br>
					&amp; Google App Engine</p>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>
